[Unit]
Description=BOTAC App
After=network.target

[Service]
WorkingDirectory=/home/<<User>>/<<install_dir>>
ExecStart=/home/ubuntu/<<User>>/.virtualenvs/<<YourVirtualEnv>>/bin/waitress-serve --call "acbot:create_ac_bot"
Restart=always

[Install]
WantedBy=multi-user.target
