[Unit]
Description=SACBOT bot service
After=network.target

[Service]
WorkingDirectory=/home/<<User>>/<<install_dir>>
ExecStart=/home/<<User>>/<<install_dir>>/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
